<h1>Edit Profile</h1>

<% if @user.errors.any? %>
    <h2>The following errors prevented profile from being created</h2>
    <ul>
        <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
    </ul>
<% end %>

<%= render 'form' %>
