<div class="container" id="home-container">
  <div class="jumbotron text-center">
    <h1 class="display-4">Find Your Tutor for your final fight</h1>
    <p class="lead">This is the place for you to find your tutor and assist you to learn deeply, prepare thoroughly and score higher.</p>
  </div>
</div>
