<h1 class="text-center mt-4">Search Result</h1>

<%= render 'post' %>

<%= render 'user' %>

<div class="container col-6 mt-5">
    <% if @posts.blank? && @users.blank? %>
        <div class="alert alert-primary">
            <h4 class="alert-heading">No such results</h4>
            <p class="mb-0">Please use other key words to search</p>
        </div>
    <% end %>
</div>


